#wrapper .sidebar{
  overflow: auto;
}

.breadcrumb{
  margin-bottom: 0;
  border-radius: 0;
}

#content-panel{
  border-top: 0;
}

#content-panel.panel .panel-heading{
  padding-top: 0;
  padding-bottom: 0;
}

#content-panel.panel .panel-body .row{
  margin-bottom: 30px;
}

#divform .fa-window-close{
  cursor: pointer;
}

#divalert{
  display: none;
  position: absolute;
  left: 25%;
  z-index: 1;
  width: 50%;
}
#divalert .alert{
  border-radius: 1px;
}
.fa.fa-window-close{
  cursor: pointer;
}

#divformcontainer{
  margin-top: 3%;
}

.charts_dashboard{
  margin-top: 25px;
}