<div id="cdivform" class="panel">
    <div class="panel-heading">
        <div class="right" id="close_form"><button type="button" class="btn-remove"><i class="fa fa-window-close" data-button-action="n"></i></button></div>
    </div>

    <div class="panel-body">
        {{ form_start(oForm, {'action': path('schools_form'), 'attr' : {'id' : 'formUsers' }, 'method': 'POST'}) }}
            <div class="form-group">
                <label for="school_nom">Nom complet</label>
                {{ form_widget(oForm.nom) }}
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label for="school_quartier">Adresse (quartier)</label>
                        {{ form_widget(oForm.quartier) }}
                    </div>
                    <div class="form-group">
                        <label for="school_ville">Ville</label>
                        {{ form_widget(oForm.ville) }}
                    </div>
                    <div class="form-group">
                        <label for="school_postalCode">Code postal</label>
                        {{ form_widget(oForm.postalCode) }}
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label for="school_telephone">Numéro de téléphone</label>
                        {{ form_widget(oForm.telephone) }}
                    </div>
                    <div class="form-group">
                        <label for="school_mail">Adresse électronique</label>
                        {{ form_widget(oForm.mail) }}
                    </div>
                    <div class="form-group">
                        <label for="school_url">Site internet</label>
                        {{ form_widget(oForm.url) }}
                    </div>
                </div>
            </div>

            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        {{ form_end(oForm) }}
    </div>
</div>

<script>
    $('#close_form').click(function () {
        $('#cdivform').fadeOut(700);
    });
</script>