<div id="cdivform" class="panel">
    <div class="panel-heading">
        <div class="right" id="close_form"><button type="button" class="btn-remove"><i class="fa fa-window-close" data-button-action="n"></i></button></div>
    </div>

    <div class="panel-body">
        {{ form_start(oForm, {'action': path('schools_form'), 'attr' : {'id' : 'formUsers' }, 'method': 'POST'}) }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="school_quartier">Debut</label>
                    {{ form_widget(oForm.debut) }}
                </div>

                <div class="form-group col-md-6">
                    <label for="school_telephone">Fin</label>
                    {{ form_widget(oForm.fin) }}
                </div>
            </div>

            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        {{ form_end(oForm) }}
    </div>
</div>

<script>
    $('#close_form').click(function () {
        $('#cdivform').fadeOut(700);
    });
</script>