<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Administration | SCHOOLVISOR{% endblock %}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <!-- ICONS -->
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset("build/images/apple-icon.png") }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset("build/images/favicon.png") }}">
        <!-- VENDOR CSS -->
        <link rel="stylesheet" href={{ asset("build/vendor/bootstrap/css/bootstrap.min.css") }}>
        <link rel="stylesheet" href={{ asset("build/vendor/font-awesome/css/font-awesome.min.css") }}>
        <link rel="stylesheet" href={{ asset("build/vendor/linearicons/style.css") }}>

        <link rel="stylesheet" href={{ asset("build/vendor/chartist/css/chartist-custom.css") }}>

        <!-- DATATABLES CSS -->
        <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('klorofil') }}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <!-- WRAPPER -->
        <div id="wrapper">
            {% include 'navbar.html.twig' %}

            <!-- MAIN -->
            <div class="main">
                <!-- MAIN CONTENT -->
                <div class="main-content">
                    <div class="container-fluid">
                        <!-- ALERT BOX-->
                        <div id="divalert">
                        </div>
                        <!-- END ALERT BOX -->

                        <!-- CONTENT -->
                        {% block bcontent %}
                            <div class="panel panel-headline" id="content-panel">
                                <div class="panel-heading">
                                    {% block bcontent_breadcrumb %}
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item active" aria-current="page">Accueil</li>
                                            </ol>
                                        </nav>
                                    {% endblock %}
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        {% block bcontent_body %}
                                            <div class="row charts_dashboard">
                                                <div class="col-lg-3 col-md-6 col-sm-6">
                                                    <div class="card card-stats">
                                                        <div class="card-header card-header-warning card-header-icon">
                                                            <div class="card-icon">
                                                                <i class="fa fa-building"></i>
                                                            </div>
                                                            <p class="card-category">Etablissements</p>
                                                            <h3 class="card-title">13</h3>
                                                        </div>
                                                        <div class="card-footer">
                                                            <div class="stats">
                                                                <i class="material-icons text-danger">warning</i>
                                                                <a href="#pablo">Get More Space...</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-sm-6">
                                                    <div class="card card-stats">
                                                        <div class="card-header card-header-success card-header-icon">
                                                            <div class="card-icon">
                                                                <i class="fa fa-graduation-cap"></i>
                                                            </div>
                                                            <p class="card-category">Elèves</p>
                                                            <h3 class="card-title">3 245</h3>
                                                        </div>
                                                        <div class="card-footer">
                                                            <div class="stats">
                                                                <i class="material-icons">date_range</i> Last 24 Hours
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-sm-6">
                                                    <div class="card card-stats">
                                                        <div class="card-header card-header-danger card-header-icon">
                                                            <div class="card-icon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                            <p class="card-category">Année scolaire</p>
                                                            <h3 class="card-title">2018/2019</h3>
                                                        </div>
                                                        <div class="card-footer">
                                                            <div class="stats">
                                                                <i class="material-icons">local_offer</i> Tracked from Github
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-sm-6">
                                                    <div class="card card-stats">
                                                        <div class="card-header card-header-info card-header-icon">
                                                            <div class="card-icon">
                                                                <a href="https://twitter.com/school_visor" target="_blank"><i class="fa fa-twitter"></i></a>
                                                            </div>
                                                            <p class="card-category"><a href="https://twitter.com/school_visor" target="_blank">Followers</a></p>
                                                            <h3 class="card-title">45</h3>
                                                        </div>
                                                        <div class="card-footer">
                                                            <div class="stats">
                                                                <i class="material-icons">update</i> Just Updated
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                        <!-- END CONTENT -->
                    </div>
                </div>
                <!-- END MAIN CONTENT -->
            </div>
            <!-- END MAIN -->
            <div class="clearfix"></div>
            <footer>
                <div class="container-fluid">
                    <p class="copyright">&copy; 2018 SchoolVisor.</p>
                </div>
            </footer>
        </div>
        <!-- END WRAPPER -->

        <script src="{{ asset("build/vendor/jquery/jquery.min.js") }}"></script>
        <script src="{{ asset("build/vendor/bootstrap/js/bootstrap.min.js") }}"></script>
        <script src="{{ asset("build/vendor/jquery-slimscroll/jquery.slimscroll.min.js") }}"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        {{ encore_entry_script_tags('klorofil') }}
        {{ encore_entry_script_tags('app') }}

        <script>
            function loadListItems(route) {
                $.ajax({
                    type: "GET",
                    url: route,
                    dataType: 'html',
                    beforeSend: function(){
                        //$('#divformcontainer').empty();
                        $('#divlistcontainer').empty();
                        $('#divlistcontainer').append('<div style="width: 100%;text-align: center;color: #b7e2e7;"><i class="fa fa-spinner fa-spin fa-3x"></i></div>');
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alertMessage('#divalert', 'alert-danger', 'Une erreur est survenue !');
                    },
                    success: function (data) {
                        $('#divlistcontainer').html(data);
                    }
                });
            }

            function loadForm(route) {
                $.ajax({
                    type: "GET",
                    url: route,
                    dataType: 'html',
                    beforeSend: function(){
                        //$('#divformcontainer').empty();
                        $('#divformcontainer').empty();
                        $('#divformcontainer').append('<div style="width: 100%;text-align: center;color: #b7e2e7;"><i class="fa fa-spinner fa-spin fa-3x"></i></div>');
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alertMessage('#divalert', 'alert-danger', 'Une erreur est survenue !');
                    },
                    success: function (data) {
                        $('#divformcontainer').html(data);
                    }
                });
            }

            function alertMessage(container, type, message) {
                let cAlert = '<div class="alert '+ type +' alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>'+ message +' </div>';
                $(container).html(cAlert).slideDown("slow").delay(3500).slideUp("slow");
            }
        </script>

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
