<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="brand">
        <a href="{{ path('home') }}"><img src="{{ asset("build/images/dashboard-logo.png") }}" alt="Klorofil Logo" class="img-responsive logo"></a>
    </div>
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
        </div>
        <div id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                        <i class="lnr lnr-alarm"></i>
                        <span class="badge bg-danger"></span>
                    </a>
                    <ul class="dropdown-menu notifications">
                        <li><a href="#" class="notification-item"><span class="dot bg-warning"></span></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Basic Use</a></li>
                        <li><a href="#">Working With Data</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Troubleshooting</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ asset("build/images/user.png") }}" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="lnr lnr-user"></i> <span>Mot de passe</span></a></li>
                        <li><a href="#"><i class="lnr lnr-exit"></i> <span>Déconnexion</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END NAVBAR -->


<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="{{ path('home') }}" class=""><i class="lnr lnr-home"></i> <span>Vue d'ensemble</span></a></li>
                <li><a href="{{ path('schools') }}" class="active"><i class="lnr lnr-apartment"></i> <span>Etablissements</span></a></li>
                <li>
                    <a href="#subStudents" data-toggle="collapse" class="collapsed"><i class="lnr lnr-users"></i> <span>Elèves</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subStudents" class="collapse ">
                        <ul class="nav">
                            <li><a href="{{ path('students') }}" class="">Liste</a></li>
                            <li><a href="{{ path('disciplines') }}" class="">Disciplines</a></li>
                            <li><a href="{{ path('finances') }}" class="">Finances</a></li>
                            <li><a href="{{ path('abscences') }}" class="">Abscences</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#subClasses" data-toggle="collapse" class="collapsed"><i class="lnr lnr-cloud"></i> <span>Classes</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subClasses" class="collapse ">
                        <ul class="nav">
                            <li><a href="{{ path('classes') }}" class="">Liste</a></li>
                            <li><a href="{{ path('home') }}" class="">Emploi de temps</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ path('courses') }}" class=""><i class="lnr lnr-book"></i> <span>Matières</span></a></li>
                <li>
                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-pencil"></i> <span>Evaluations</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages" class="collapse ">
                        <ul class="nav">
                            <li><a href="{{ path('home') }}" class="">Liste</a></li>
                            <li><a href="{{ path('home') }}" class="">Les notes</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ path('home') }}" class=""><i class="lnr lnr-inbox"></i> <span>Annonces</span></a></li>
                <li>
                    <a href="#subSetting" data-toggle="collapse" class="collapsed"><i class="lnr lnr-cog"></i> <span>Paramètres</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subSetting" class="collapse ">
                        <ul class="nav">
                            <li><a href="{{ path('series') }}" class="">Séries</a></li>
                            <li><a href="{{ path('rooms') }}" class="">Salles</a></li>
                            <li><a href="{{ path('levels') }}" class="">Niveau</a></li>
                            <li><a href="{{ path('sessions') }}" class="">Sessions</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
