<div id="cdivform" class="panel">
    <div class="panel-heading">
        <div class="right" id="close_form"><button type="button" class="btn-remove"><i class="fa fa-window-close" data-button-action="n"></i></button></div>
    </div>

    <div class="panel-body">
        {{ form_start(oForm, {'action': path('classes_form'), 'attr' : {'id' : 'formUsers' }, 'method': 'POST'}) }}
            <div class="form-row">
                <div class="form-group col-md-2">
                    <div class="form-group">
                        <label for="school_postalCode">Niveau</label>
                        {{ form_widget(oForm.niveau) }}
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-group">
                        <label for="school_telephone">Série</label>
                        {{ form_widget(oForm.serie) }}
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-group">
                        <label for="school_telephone">Salle</label>
                        {{ form_widget(oForm.salle) }}
                    </div>
                </div>
            </div>

            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        {{ form_end(oForm) }}
    </div>
</div>

<script>
    $('#close_form').click(function () {
        $('#cdivform').fadeOut(700);
    });
</script>