<div class="row form-group">
    <div class="col-md-12 btn-ajouter">
        <button type="button" class="btn btn-primary btn-md pull-right init_form"
                data-url-action="{{ path('disciplines_form') }}">Ajouter
        </button>
    </div>
</div>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        {% for school in list %}
            <tr>
                <td>{{ school.nom }}</td>
                <td>Row 1 Data 2</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $('#table_id').DataTable({
        "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]]
    });

    $(".init_form").click(function (ev) {
        var route = $(ev.target).attr("data-url-action");
        loadForm(route);
    });
</script>