{% extends 'base.html.twig' %}

{% block bcontent_breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Matières</li>
        </ol>
    </nav>
{% endblock %}

{% block bcontent_body %}
    <div id="divlistcontainer" class="col-md-12"></div>

    <div id="divformcontainer" class="col-md-12"></div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            loadListItems('{{ path('courses_list') }}');
        });
    </script>
{% endblock %}